<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizApp Homepage</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="../static/style_home.css">
</head>
<body>
    <h1>Welcome to QuizApp!</h1>
    <form method="POST" action="/">
        <label for="num_questions">Number of Questions:</label>
        <input type="number" id="num_questions" name="num_questions" min="1" required>
        <button type="submit">Start Quiz</button>
    </form>
</body>
</html>
