/* Define default styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border-radius: 20px;
    padding: 7px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

label {
    font-size: 18px;
    color: #555;
    margin-right: 10px;
}

input[type="number"] {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

button[type="submit"] {
    padding: 8px 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    white-space: nowrap;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    form {
        padding: 7px 20px; /* Reduce padding for smaller screens */
        max-width: 300px; /* Adjust max-width for smaller screens */
        white-space: normal; /* Allow long text to wrap */
    }
    
    input[type="number"] {
        width: 60px; /* Adjust input width for smaller screens */
    }
    button[type="submit"] {
        padding: 8px 30px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 8px;
        font-size: 16px;
    }

}
